In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
link_df = pd.read_csv('../../data/original/links (table 3).csv', index_col=0)

In [3]:
#validation_path = '../../data/offline/validation_9_6/'
validation_path = '../../data/offline/validation_9_20/'
#validation_path = '../../data/offline/validation_10_11/'

#window_date = pd.to_datetime('2016-09-06')
window_date = pd.to_datetime('2016-09-20')
#window_date = pd.to_datetime('2016-10-11')

#prediction_file_name = 'prediction_9_6'
prediction_file_name = 'prediction_9_20'
#prediction_file_name = 'prediction_10_11'

In [4]:
afternoon_predict_dict = {}
morning_predict_dict = {}

afternoon_real_dict = {}
morning_real_dict = {}

for link_id in link_df.index.values:
    predict_afternoon_m1_df = pd.read_csv(validation_path + 'prediction/feature5/afternoon/' + str(link_id) + '.csv', index_col=0)
    predict_afternoon_m2_df = pd.read_csv(validation_path + 'prediction/afternoon/m2_' + str(link_id) + '.csv', index_col=0)
    
    predict_morning_m1_df = pd.read_csv(validation_path + 'prediction/feature5/morning/' + str(link_id) + '.csv', index_col=0)
    predict_morning_m2_df = pd.read_csv(validation_path + 'prediction/morning/m2_' + str(link_id) + '.csv', index_col=0)
    
    
    real_afternoon_m1_df = pd.read_csv(validation_path + 'feature/feature5/afternoon/y_test_link' + str(link_id) + '.csv', index_col = 0)
    real_afternoon_m2_df = pd.read_csv(validation_path + 'feature/feature2/afternoon/y_test_link' + str(link_id) + '.csv', index_col = 0)
    
    real_morning_m1_df = pd.read_csv(validation_path + 'feature/feature5/morning/y_test_link' + str(link_id) + '.csv', index_col = 0)
    real_morning_m2_df = pd.read_csv(validation_path + 'feature/feature2/morning/y_test_link' + str(link_id) + '.csv', index_col = 0)
    
    
    afternoon_predict_dict[link_id] = [predict_afternoon_m1_df, predict_afternoon_m2_df, predict_afternoon_m1_df + predict_afternoon_m2_df]
    morning_predict_dict[link_id] = [predict_morning_m1_df, predict_morning_m2_df, predict_morning_m1_df + predict_morning_m2_df]
    
    afternoon_real_dict[link_id] = [real_afternoon_m1_df, real_afternoon_m2_df, real_afternoon_m1_df + real_afternoon_m2_df]
    morning_real_dict[link_id] = [real_morning_m1_df, real_morning_m2_df, real_morning_m1_df + real_morning_m2_df]

In [5]:
def ArrayMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff.sum() / ground_truth.size
    
    return mape

In [6]:
def ScalarMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff
    
    return mape

In [7]:
routes = pd.read_csv('../../data/original/routes (table 4).csv')
submissions = []
for i in routes.index:
    link_seq = routes.loc[i]['link_seq']
    links = link_seq.split(',')
    
    #morning
    start_time = window_date + datetime.timedelta(hours=8)
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + morning_predict_dict[int(link_id)][0].loc[d][t] + morning_predict_dict[int(link_id)][1].loc[d][t] / 2
                real_time = real_time + morning_real_dict[int(link_id)][2].loc[d][t]
                
            record.append(predict_time)
            record.append(real_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)
        
    #afternoon
    start_time = window_date + datetime.timedelta(hours=17)
#     start_time = pd.to_datetime('2016-09-20 17:00:00')
#     start_time = pd.to_datetime('2016-10-11 17:00:00')
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + afternoon_predict_dict[int(link_id)][0].loc[d][t] + afternoon_predict_dict[int(link_id)][1].loc[d][t] / 2
                real_time = real_time + afternoon_real_dict[int(link_id)][2].loc[d][t]
                
            record.append(predict_time)
            record.append(real_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)

In [8]:
submission_df = pd.DataFrame(submissions).rename(columns={0:'intersection_id', 1:'tollgate_id', 2:'time_window', 3:'predict_time', 4:'real_time'})

In [9]:
mape_sum = 0
mapes = []
for i in range(len(submission_df)):
    mape = ScalarMape(submission_df.loc[i]['real_time'], submission_df.loc[i]['predict_time'])
    #print('%a-%d : %f'%(m[0], m[1], mape))
    mapes.append(mape)
    mape_sum = mape_sum + mape
    
submission_df['mape'] = mapes
print("mape=%f"%(mape_sum / len(submissions)))

mape=0.150487

In [ ]:
mape=0.195148
2.4 mape=0.195020

In [26]:
submission_df.to_csv('../../data/offline/prediction/m1_m2/' + prediction_file_name + '.csv')

In [12]:
submission_df['mape'].describe()

count    504.000000
mean       0.179984
std        0.163925
min        0.000069
25%        0.064079
50%        0.140365
75%        0.252415
max        1.576950
Name: mape, dtype: float64

In [13]:
submission_df[submission_df['mape'] > 0.25]['mape'].mean()

0.3995019135600247

In [17]:
anomaly_df = submission_df[submission_df['mape'] > 0.31]

In [18]:
anomaly_df.groupby(['intersection_id', 'tollgate_id']).count()

                             time_window  predict_time  real_time  mape
intersection_id tollgate_id
A               2                     10            10         10    10
                3                     19            19         19    19
B               1                     13            13         13    13
                3                     22            22         22    22
C               1                      9             9          9     9
                3                     16            16         16    16

In [59]:
anomaly_df.groupby(['intersection_id', 'tollgate_id']).count()

                             time_window  predict_time  real_time  mape
intersection_id tollgate_id
A               2                     17            17         17    17
                3                     17            17         17    17
B               1                     10            10         10    10
                3                     17            17         17    17
C               1                     12            12         12    12
                3                     14            14         14    14

In [41]:
anomaly_df.groupby(['intersection_id', 'tollgate_id']).count()

                             time_window  predict_time  real_time  mape
intersection_id tollgate_id
A               2                     17            17         17    17
                3                     28            28         28    28
B               1                     22            22         22    22
                3                     25            25         25    25
C               1                     21            21         21    21
                3                     20            20         20    20

In [31]:
submission_df.sort_values('mape')

,intersection_id,tollgate_id,time_window,predict_time,real_time,mape
446,C,3,"[2016-09-10 08:40:00,2016-09-10 09:00:00)",166.776793,166.801628,0.000149
486,C,3,"[2016-09-10 17:00:00,2016-09-10 17:20:00)",181.657452,181.710298,0.000291
269,B,3,"[2016-09-08 09:40:00,2016-09-08 10:00:00)",100.343104,100.404368,0.000610
331,B,3,"[2016-09-12 17:20:00,2016-09-12 17:40:00)",101.994318,102.058818,0.000632
18,A,2,"[2016-09-09 08:00:00,2016-09-09 08:20:00)",78.898403,78.733785,0.002091
61,A,2,"[2016-09-09 17:20:00,2016-09-09 17:40:00)",71.478236,71.240714,0.003334
68,A,2,"[2016-09-10 17:40:00,2016-09-10 18:00:00)",71.014296,70.759273,0.003604
273,B,3,"[2016-09-09 09:00:00,2016-09-09 09:20:00)",118.138210,117.626503,0.004350
159,A,3,"[2016-09-11 18:00:00,2016-09-11 18:20:00)",116.436087,115.920543,0.004447
396,C,1,"[2016-09-09 17:00:00,2016-09-09 17:20:00)",206.390607,205.370278,0.004968
102,A,3,"[2016-09-09 08:00:00,2016-09-09 08:20:00)",140.243851,139.315265,0.006665
372,C,1,"[2016-09-12 08:00:00,2016-09-12 08:20:00)",179.430786,180.653030,0.006766
73,A,2,"[2016-09-11 17:20:00,2016-09-11 17:40:00)",71.909528,71.376930,0.007462
399,C,1,"[2016-09-09 18:00:00,2016-09-09 18:20:00)",190.759042,189.331667,0.007539
318,B,3,"[2016-09-10 17:00:00,2016-09-10 17:20:00)",111.965099,110.993013,0.008758
445,C,3,"[2016-09-10 08:20:00,2016-09-10 08:40:00)",163.759527,165.225000,0.008870
473,C,3,"[2016-09-07 18:40:00,2016-09-07 19:00:00)",167.818784,166.300905,0.009127
441,C,3,"[2016-09-09 09:00:00,2016-09-09 09:20:00)",178.485417,176.702670,0.010089
32,A,2,"[2016-09-11 08:40:00,2016-09-11 09:00:00)",91.616778,90.681704,0.010312
22,A,2,"[2016-09-09 09:20:00,2016-09-09 09:40:00)",85.510689,86.452330,0.010892
492,C,3,"[2016-09-11 17:00:00,2016-09-11 17:20:00)",183.326088,185.611268,0.012312
271,B,3,"[2016-09-09 08:20:00,2016-09-09 08:40:00)",103.240351,101.802500,0.014124
277,B,3,"[2016-09-10 08:20:00,2016-09-10 08:40:00)",103.223019,104.740556,0.014489
313,B,3,"[2016-09-09 17:20:00,2016-09-09 17:40:00)",100.486164,98.901111,0.016027
272,B,3,"[2016-09-09 08:40:00,2016-09-09 09:00:00)",108.641227,110.522944,0.017026
232,B,1,"[2016-09-09 18:20:00,2016-09-09 18:40:00)",134.851328,132.576260,0.017160
117,A,3,"[2016-09-11 09:00:00,2016-09-11 09:20:00)",165.498508,162.583864,0.017927
228,B,1,"[2016-09-09 17:00:00,2016-09-09 17:20:00)",135.214778,132.735833,0.018676
417,C,1,"[2016-09-12 18:00:00,2016-09-12 18:20:00)",191.684126,188.113000,0.018984
431,C,3,"[2016-09-07 09:40:00,2016-09-07 10:00:00)",170.825569,174.404249,0.020519
...,...,...,...,...,...,...
352,C,1,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",209.566948,482.511823,0.565675
259,B,3,"[2016-09-07 08:20:00,2016-09-07 08:40:00)",102.864679,65.330500,0.574528
405,C,1,"[2016-09-10 18:00:00,2016-09-10 18:20:00)",190.120440,455.266168,0.582397
421,C,3,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",161.433262,100.831500,0.601020
171,B,1,"[2016-09-06 09:00:00,2016-09-06 09:20:00)",148.751076,92.636667,0.605747
413,C,1,"[2016-09-11 18:40:00,2016-09-11 19:00:00)",196.797815,518.049922,0.620118
16,A,2,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",94.910586,58.543438,0.621199
90,A,3,"[2016-09-07 08:00:00,2016-09-07 08:20:00)",138.967358,85.605000,0.623356
291,B,3,"[2016-09-12 09:00:00,2016-09-12 09:20:00)",122.260564,74.974667,0.630692
169,B,1,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",126.590411,77.550833,0.632354
469,C,3,"[2016-09-07 17:20:00,2016-09-07 17:40:00)",170.092616,104.177500,0.632719
296,B,3,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",103.567469,63.360833,0.634566
128,A,3,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",118.841971,72.353000,0.642530
382,C,1,"[2016-09-06 18:20:00,2016-09-06 18:40:00)",220.547985,134.155000,0.643979
254,B,3,"[2016-09-06 08:40:00,2016-09-06 09:00:00)",108.574479,65.078690,0.668357
8,A,2,"[2016-09-07 08:40:00,2016-09-07 09:00:00)",93.096420,55.698622,0.671431
265,B,3,"[2016-09-08 08:20:00,2016-09-08 08:40:00)",103.053841,61.466167,0.676595
466,C,3,"[2016-09-06 18:20:00,2016-09-06 18:40:00)",190.726350,112.635000,0.693313
184,B,1,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",134.853352,445.341823,0.697191
329,B,3,"[2016-09-11 18:40:00,2016-09-11 19:00:00)",93.441171,317.703575,0.705886
45,A,2,"[2016-09-06 18:00:00,2016-09-06 18:20:00)",64.694482,37.480000,0.726107
245,B,1,"[2016-09-11 18:40:00,2016-09-11 19:00:00)",123.120966,470.484017,0.738310
85,A,3,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",153.106767,85.172500,0.797608
87,A,3,"[2016-09-06 09:00:00,2016-09-06 09:20:00)",166.463096,91.934118,0.810678
253,B,3,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",100.765797,55.381500,0.819485
2,A,2,"[2016-09-06 08:40:00,2016-09-06 09:00:00)",95.256457,51.218333,0.859812
256,B,3,"[2016-09-06 09:20:00,2016-09-06 09:40:00)",103.377904,55.188571,0.873176
255,B,3,"[2016-09-06 09:00:00,2016-09-06 09:20:00)",117.346748,59.050000,0.987244
258,B,3,"[2016-09-07 08:00:00,2016-09-07 08:20:00)",96.401596,46.320000,1.081209
44,A,2,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",68.682982,30.548000,1.248363

In [10]:
mape_dict = {}
mape_sum = 0
for link_id in link_df.index.values:
    morning_mape = ArrayMape(morning_real_dict[link_id][2].values, morning_predict_dict[link_id][0].values)
    afternoon_mape = ArrayMape(afternoon_real_dict[link_id][2].values, afternoon_predict_dict[link_id][0].values)
    print('morning:%d mape=%f'%(link_id, morning_mape))
    print('afternoon:%d mape=%f'%(link_id, afternoon_mape))
    mape_sum = mape_sum + morning_mape + afternoon_mape
    mape_dict[link_id] = [morning_mape, afternoon_mape]

print('mape=%f'% (mape_sum / link_df['length'].count() / 2))

morning:100 mape=0.182095
afternoon:100 mape=0.224775
morning:101 mape=0.185093
afternoon:101 mape=0.371319
morning:102 mape=0.151957
afternoon:102 mape=0.179695
morning:103 mape=0.468896
afternoon:103 mape=0.373826
morning:104 mape=0.173277
afternoon:104 mape=0.235542
morning:105 mape=0.275713
afternoon:105 mape=0.274362
morning:106 mape=0.326857
afternoon:106 mape=0.361005
morning:107 mape=0.203918
afternoon:107 mape=0.253931
morning:108 mape=0.196537
afternoon:108 mape=0.197880
morning:109 mape=0.137740
afternoon:109 mape=0.159067
morning:110 mape=0.204659
afternoon:110 mape=0.190731
morning:111 mape=0.471663
afternoon:111 mape=0.356867
morning:112 mape=0.359530
afternoon:112 mape=0.436725
morning:113 mape=0.307870
afternoon:113 mape=0.388915
morning:114 mape=0.302873
afternoon:114 mape=0.225402
morning:115 mape=0.204463
afternoon:115 mape=0.182797
morning:116 mape=0.128791
afternoon:116 mape=0.292142
morning:117 mape=0.210714
afternoon:117 mape=0.314066
morning:118 mape=0.451908
afternoon:118 mape=0.311180
morning:119 mape=0.195202
afternoon:119 mape=0.219763
morning:120 mape=0.177282
afternoon:120 mape=0.208673
morning:121 mape=0.342416
afternoon:121 mape=0.392722
morning:122 mape=0.154159
afternoon:122 mape=0.185766
morning:123 mape=0.187572
afternoon:123 mape=0.200014
mape=0.261216

In [17]:
pd.DataFrame(mape_dict).T

            0         1
100  0.182095  0.224775
101  0.185093  0.371319
102  0.151957  0.179695
103  0.468896  0.373826
104  0.173277  0.235542
105  0.275713  0.274362
106  0.326857  0.361005
107  0.203918  0.253931
108  0.196537  0.197880
109  0.137740  0.159067
110  0.204659  0.190731
111  0.471663  0.356867
112  0.359530  0.436725
113  0.307870  0.388915
114  0.302873  0.225402
115  0.204463  0.182797
116  0.128791  0.292142
117  0.210714  0.314066
118  0.451908  0.311180
119  0.195202  0.219763
120  0.177282  0.208673
121  0.342416  0.392722
122  0.154159  0.185766
123  0.187572  0.200014